<div class="my_box">
    <form action="/" method="GET" class="newKioskForm">
        <label for="newKiosk">Search Kiosk:</label><br>
        <input type="text" id="address" name="address" value="<%= searchOptions.address %>"><br>
        <input type="submit" value="Submit">
    </form>
</div>

<hr>

<div class="my_box">
    <table class="bigTable">
        <tr>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        <% kiosks.forEach(kiosk => { %>
        <tr>
            <td><h3><%= kiosk.address %></h3></td>
            <td><form method="POST" action="/<%= kiosk.id %>?_method=DELETE"><button type="submit">Delete?</button></form></td>
            <td><form method="GET" action="/maintenance/<%= kiosk.id %>"><button type="submit">View</button></form></td>
        </tr>
        <%})%>
    </table>
</div>

<hr>

<div class="my_box">
    <form action="/" method="POST" class="newKioskForm">
        <label for="newKiosk">Add Kiosk:</label><br>
        <input type="text" id="newKiosk" name="newKiosk"><br>
        <input type="submit" value="Submit">
    </form>
</div>